<%= form_with(model: participant, local: true) do |form| %>
  <% if participant.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(participant.errors.count, "error") %> prohibited this participant from being saved:</h2>

      <ul>
      <% participant.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name, id: :participant_name %>
  </div>

  <div class="field">
    <%= form.label :school %>
    <%= form.collection_select(:school_id, School.all, :id, :name) %>
  </div>

  <div class="field">
    <%= form.label :dob %>
    <%= form.date_select :dob, id: :participant_dob %>
  </div>
  <div class="field">
    <%= form.label :events%>
    <%= form.collection_check_boxes :event_ids, Event.all, :id, :name%><br/>
  </div>
  <div class="field">
    <%= form.label :checked_in %>
    <%= form.check_box :checked_in, id: :participant_checked_in %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
