<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @participant.name %>
</p>

<p>
  <strong>School:</strong>
  <%= @participant.school.name %>
</p>

<p>
  <strong>Dob:</strong>
  <%= @participant.dob %>
</p>
<p>
  <strong>Events:</strong>
  <ol>
    <%@participant.events.each do |event|%>
        <li><%=event.name%></li>
  <% end %>
  </ol>
</p>
<p>
  <strong>Checked in:</strong>
  <%= @participant.checked_in %>
</p>

<%= link_to 'Edit', edit_participant_path(@participant) %> |
<%= link_to 'Back', participants_path %>
